/* font-family: 'Libre Barcode 39 Text', cursive;
font-family: 'Source Code Pro', monospace;
font-family: 'Roboto', serif; */


html{
    scroll-behavior: smooth;
}
 body{
    /* height:100%; */
    width: 100%;
    background: rgb(37, 173, 175);
    background: linear-gradient(0deg, rgba(37, 173, 175, 1) 0%, rgba(39, 15, 73, 1) 100%);
}


.header1{
    color: #f8f8f8;
    font-family:'Libre Barcode 39 Text', cursive;
    font-size: 10rem;
    font-weight: 400;
    margin: 10% 0% 0% 0%;
    text-align: center;
}


.header2{
    color: #e08cc4;
    font-family:'Roboto',
    serif;
    font-size: 2rem;
    margin-top: 3%;
    text-align: center;
}

.wrapper {
    margin-top: 5%;
    margin-bottom: 10%;
    text-align: center;

}

#playbutton{
    font-size: 3rem;
}


.row{
    text-align: center;
    width: 100%;
    
}

.middle{
    text-align: center;
}

iframe{
    
    text-align: center;
}

.videotitle{
    color: wheat;
    font-weight: 600;
    font-size: 1.5rem;
    font-family: 'Source Code Pro', monospace;
    margin-top: 10%;
    text-align: center;
    width: 100%;
}

.videos{
   text-align: center;
   
}

.abouteditor {
    font-size: 1.7rem;
    color: whitesmoke;
    font-family: 'Source Code Pro', serif;
    font-weight: 800;
    margin: 10% 5% 5% 5%;
    text-align: center;
}

#about{
    margin-bottom: 10%;
    margin-top: 20%;
    width: 75%;
}

.aboutp{
    color: rgb(154, 231, 224);
    font-family:'Source Code Pro', monospace;
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    

}

.soundcloudwrap{
    padding-top: 3%;
    text-align: center;
    padding-bottom: 5%;
}

.footer{
    background-color: #494ca2;
    height: 100px;
    text-align: center;
    padding-bottom: 5%;
    width: 100%;
}
.social{
    font-family: 'Source Code Pro',
    monospace;
    font-weight: 600;
    font-size: 1rem;
    margin-top: 2%;
}
.icons{
    color: white;
    text-align: center;
    margin: 2% 3% 1% 3%;
}

.icons:hover{
    color:yellow;
    text-decoration: none;
}

#copyright{
    color:white;
    font-family:'Roboto' ;
    font-size: 0.8rem;
    margin-top: 1%;
    margin-bottom: 1%;
}


@media (max-width: 1308px) {
    .videotitle {
        font-size: 1rem;
    }
}

@media (max-width: 775px) {
    .header1 {
        font-size: 6rem;
        margin-bottom: 5%;
    }

    .videotitle {
        font-size: 1rem;
    }

    .videosize{
        height: 190px;
        width: 220px;
    }

    .abouteditor {
        font-size: 3rem;
    }

    .aboutp{
        font-size: 2rem;
    }

    .social{
        font-size: 1.3rem;
    }

    #copyright{
        font-size: 1rem;
    }
}


@media (max-width: 415px) {
    .header1 {
        font-size: 3rem;
        margin-bottom: 5%;
    }

    #playbutton{
        margin-bottom: 50%;
    }

    .videotitle {
        font-size: 1.3rem;
    }

    .videosize {
        height: 150px;
        width: 290px;
    }

    .abouteditor {
        font-size: 2rem;

    }

    .aboutp {
        font-size: 1.5rem;
        
    }

   .icons{
       margin-top: 3%;
   }

    .social {
        margin-top: 3%;
        font-size: 1rem;
    }

    #copyright {
        font-size: 0.7rem;
    }
}