/* font-family: 'Libre Barcode 39 Text', cursive;
font-family: 'Source Code Pro', monospace;
font-family: 'Noto Serif JP', serif; */

 body{
   background: rgb(37, 173, 175);
   background: linear-gradient(0deg, rgba(37, 173, 175, 1) 0%, rgba(39, 15, 73, 1) 100%);
} 

.nav-link{
    color: whitesmoke;
    font-size: 150%;
    margin-right: 15px;
    
}

.navbar-brand {
    font-family: 'Libre Barcode 39 Text';
    font-size: 2rem !important;
    margin-left: 15px;
}


.header1{
    color: whitesmoke;
    font-family:'Libre Barcode 39 Text', cursive;
    font-size: 10rem;
    font-weight: 400;
    margin: 10% 0% 0% 0%;
    text-align: center;
}


.header2{
    color: whitesmoke;
    font-family:'Noto Serif JP', serif;
    font-size: 3rem;
    margin-top: 5%;
    text-align: center;
}

.wrapper {
    margin-top: 5%;
    text-align: center;

}

.button{
    font-size: 1rem;
    
}

.header3{
    color: whitesmoke;
    font-family: 'Noto Serif JP', serif;
    margin: 5%;
    text-align: center;   
}


.videos{
   text-align: center;
   margin-top: 55px;
}

.aboutp{
    color: turquoise;
    font-family:'Source Code Pro', monospace;
    font-size: 2rem;
    text-align: center;

}